# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Coverage & Testing
.coverage
htmlcov/
.pytest_cache/

# Collected static files
staticfiles/

#
*.sqlite3
db.sqlite3